# These requirements are for DEVELOPMENT ONLY!

# Test runner/testing utils
nose

# Mocking library
fudge

# Python 2.5 compatible version of cuisine
# TODO Remove if https://github.com/sebastien/cuisine/pull/63 is merged
git+git://github.com/michaelcontento/cuisine.git@import-with-from-future
